<h2>INSTANTLY SUBSCRIBE TO OUR MAILING LIST HERE:</h2>
<%= render "subscriber_form" %>

<h2>ADD AN EVENT TO A FUTURE PUSHBOARD NEWSLETTER:</h2>
<em>[Event must be in the Portland, Oregon metro area]</em>
<p>Newsletter sent out Mondays, be sure to submit your event on/before the Friday prior to the week it is scheduled for!</p>
<%= render "event_form" %>
