<div class="new-subscriber form">
  <h2>Subscribe to Our Mailing List</h2>
  <%= render "subscriber_form" %>
</div>

<div class="new-event form">
  <h2>Add an event to a Future Pushboard Newsletter</h2>
  <em>[Event must be in the Portland, Oregon metro area]</em>
  <p>Newsletter sent out Mondays, be sure to submit your event on/before the Friday prior to the week it is scheduled for!</p>
  <%= render "event_form" %>
</div>
