<div class="new-subscriber form">
  <h2>Subscribe to Our Mailing List</h2>
  <%= render "static_pages/subscriber_form" %>
</div>

<div class="new-event form">
  <h2>Add an event to a Future Pushboard Newsletter</h2>
  <p><em class="highlight">[Event must be in the Portland, Oregon metro area]</em></p>
  <p>The newsletter is sent out Mondays. Be sure to submit your event on or before the Friday prior to the week it is scheduled for!</p>
  <%= render "static_pages/event_form" %>
</div>
