<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Email: <%= @subscriber.email %></p>
    <p>Name: <%= @subscriber.name %></p>
  </body>
</html>
