<h1>Events</h1>

<table class="table table-hover events">
  <thead>
    <tr>
      <th>Title</th>
      <th>Submitted</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <%= render @events %>
  </tbody>
</table>
