<% title "Sign Up for Pushboard" %>
<% description "Sign up to get a weekly, curated list of the best events in Portland, OR." %>

<div class="new-subscriber form">
  <h2>Subscribe to Our Mailing List</h2>
  <%= render "static_pages/subscriber_form" %>
</div>
