.container {
  max-width: 50em;
  padding-top: 5%;
}

img {
  width: 100%;
  height: auto;
}

.site-header {
  padding-bottom: 1em;
}

label.required:after {
  content:" *";
  color: red;
}

.form {
  padding: 0 0 2em 0;
}

.alert {
  text-align: center;
}
