.container {
  max-width: 40em;
  padding-top: 10%;
}
.subscribe-form {
  max-width: 25em;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

.site-header {
  padding-bottom: 1em;
}

label.required:after {
  content:" *";
}
