$black: #222;

h2 {
  text-transform: uppercase;
  padding: 0 0 .5em 0;
  text-align: center;
}

body {
  font-family: "Courier", monospace, sans-serif;
  color: $black
}

footer {
  padding-top: 2em;
}

a, .highlight {
  color: white;
  background-color: $black;
  padding: .25em;
}

a {
  text-decoration: none;
  &:hover {
    color: red;
    background-color: white;
    text-decoration: none;
  }
}

a.header-link {
    background-color: white;
}

a.delete {
  color: black;
  background-color: transparent;
  &:hover {
    color: red;
    background-color: transparent;
  }
}

