<footer>
  <p class="copyright">&copy; <%= Time.now.year %> <%= link_to "Pushboard", "http://www.pushboardportland.com" %></p>
  <p class="colophon">Site by <%= link_to "Nick Bernard", "http://nrbernard.com" %></p>
</footer>
